@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: normal
  src: url('../fonts/Inter.ttf')

@font-face
  font-family: 'Geometria'
  font-style: normal
  font-weight: normal
  src: url('../fonts/Geometria-Medium.eot'), url('../fonts/Geometria-Medium.ttf'), url('../fonts/Geometria-Medium.woff')

@font-face
  font-family: 'SourceSansPro-Regular'
  font-style: normal
  font-weight: normal
  src: url('../fonts/SourceSansPro-Regular.ttf')