@import theme
@import fonts

html
  scroll-behavior: smooth

body
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: $fontInter
  font-size: $normalSize
  color: $textBlack
  overflow-x: hidden
  width: 100%
  height: 100%

ul, li
  list-style: none
  margin: 0
  padding: 0


a
  color: $colorBlack
  margin: 0
  padding: 0
  text-decoration: none

a:hover
  color: $colorBlack


a:active
  color: $colorBlack
  text-decoration: none
  
.header
  &__wrapper
    height: 700px
    padding: 38px 181px 63px 200px
    background: $colorBlue url("../img/header-bg.png") no-repeat 0 0
    box-sizing: border-box
    margin-bottom: 50px
  &__top
    max-width: 1200px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 19px 0 0
    margin: 0 auto
  &__main
    max-width: 1200px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 0 0 3px
    margin: 0 auto
    position: relative
  &__scroll
    position: absolute
    bottom: 0
    left: 0
    img
      height: 87px
      width: 17px
  &__title
    color: $colorWhite
    letter-spacing: 0.02em
    font-size: $bigSize
    line-height: 110%
    font-family: $fontInter
    width: 658px
  &__sub-title
    color: rgba(255, 255, 255, 0.8)
    font-size: $smallSize
    line-height: 19px
    font-family: $fontInter

.items__wrapper
  max-width: 1200px
  margin: 0 auto 200px auto
  display: flex
  justify-content: space-between
  align-items: flex-start
  .item
    max-width: 200px
    &__title
      color: $colorBlue
      font-family: $fontInter
      font-size: $smallSize
      line-height: 19px
      margin-bottom: 10px
    &__text
      color: rgba(0, 0, 0, 0.9)
      letter-spacing: 0.02em

.list__items
  .item
    margin-bottom: 60px
    display: flex
    &__number
      width: 50px
      min-width: 50px
      height: 50px
      border: 1px solid $colorBlue
      color: $colorBlue
      border-radius: 50%
      margin-right: 57px
      font-size: 14px
      line-height: 140%
      display: flex
      align-items: center
      justify-content: center
    &__text
      max-width: 463px
      font-size: $normalSize
      line-height: 140%
      font-family: $fontGeometria

.tabs
  &__wrapper
    max-width: 1200px
    height: 650px
    margin: 0 auto 150px auto
    position: relative
    display: flex
    align-items: center
    justify-content: flex-start
    input[type="radio"]
      display: none
    input[type="radio"]+label
      color: $colorBlack
    .tab__label
      display: block
      font-size: $normalSize
      line-height: 130%
      font-weight: 300
      letter-spacing: 1px
      color: rgba(1,1,1,0.5)
      cursor: pointer
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
    .tab__content
      display: none
      width: 900px
      height: 650px
      img
        width: 100%
        height: auto

    input:nth-of-type(1):checked~.tabs__label .tab__label:nth-of-type(1),
    input:nth-of-type(2):checked~.tabs__label .tab__label:nth-of-type(2),
    input:nth-of-type(3):checked~.tabs__label .tab__label:nth-of-type(3),
    input:nth-of-type(4):checked~.tabs__label .tab__label:nth-of-type(4),
    input:nth-of-type(5):checked~.tabs__label .tab__label:nth-of-type(5),
    input:nth-of-type(6):checked~.tabs__label .tab__label:nth-of-type(6),
    input:nth-of-type(7):checked~.tabs__label .tab__label:nth-of-type(7)
      color: $colorBlue

    input:nth-of-type(1):checked~.tabs__content .tab__content:nth-of-type(1),
    input:nth-of-type(2):checked~.tabs__content .tab__content:nth-of-type(2),
    input:nth-of-type(3):checked~.tabs__content .tab__content:nth-of-type(3),
    input:nth-of-type(4):checked~.tabs__content .tab__content:nth-of-type(4),
    input:nth-of-type(5):checked~.tabs__content .tab__content:nth-of-type(5),
    input:nth-of-type(6):checked~.tabs__content .tab__content:nth-of-type(6),
    input:nth-of-type(7):checked~.tabs__content .tab__content:nth-of-type(7)
      display: block

  &__label
    .title
      font-size: 32px
      line-height: 39px
      letter-spacing: 0.01em
      color: $textBlack
      font-family: $fontInter
      margin-bottom: 49px
  &__content
    position: absolute
    right: -200px
    top: 0
    @media (max-width: 1559px)
      right: -100px
  &__bg
    position: absolute
    top: -350px
    right: -180
    z-index: -1
    width: 1080px
    height: 766px
    img
      width: 100%
      height: auto


.section
  margin-bottom: 200px
  position: relative
  &__wrapper
    margin: 0 auto
    max-width: 1200px
    display: flex
  &__title
    font-family: $fontInter
    font-size: 46px
    line-height: 130%
    letter-spacing: 2px
    margin-bottom: 50px
    color: rgba(0, 0, 0, 0.9)
  &__main-img
    max-width: 1200px
    margin: 0 auto
    img
      width: 100%
      height: auto
    @media (max-width: 1600px)
      max-width: 100%
      margin: 0 auto
    .img__wrapper
      background-color: $colorBlue
      width: 730px
      height: 500px
      box-sizing: border-box
      padding: 80px 65px
  &__text
    max-width: 570px
    font-size: 18px
    line-height: 150%
    color: $textBlack
    font-family: $fontGeometria

  &-2
    .section
      &__wrapper
        justify-content: space-between
        margin-bottom: 110px
      &__main-img
        display: flex
        overflow: hidden
        max-width: 1600px
        .img__wrapper
          margin-right: 80px
          &:first-child
            margin-left: 200px
          &:last-child
            margin-right: 0
    .list__items
      .item:nth-child(2)
        margin-bottom: 85px
  &-3
    .section
      &__wrapper
        justify-content: space-between
        margin-bottom: 250px
        position: relative
        z-index: 1
      &__main-img
        max-width: 1600px
        width: 100%
        img
          width: 100%
          height: auto
    .img-bg
      position: absolute
      right: -174px
      top: -225px
      width: 500px
      z-index: -1
      img
        width: 100%
        height: auto
  &-4
    .section__main-img
      max-width: 1600px
      width: 100%

.footer
  &__wrapper
    max-width: 1200px
    margin: 0 auto 103px auto
    display: flex
    justify-content: space-between
    align-items: flex-start
    position: relative
    .logo
      position: absolute
      bottom: 4px
      left: 0
  &__title
    font-size: $veryBigSize
    line-height: 130%
    letter-spacing: 3px
    font-weight: 300
    font-family: $fontSourceSansPro-Regular
    color: $colorBlack








