html
    head
        title Клинические рекомендации
        link(rel="stylesheet" href="../css/style.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        .header__wrapper
            .header__top
                .header__sub-title Лаборатория элемент
                .header__sub-title 2020 год
            .header__main
                .header__title Клинические рекомендации
                .header__image
                    img(src="../img/header.png")
                a(href="#section-1").header__scroll
                    img(src="../img/scroll.svg")
        .items__wrapper
            .item
                .item__title Клиент
                .item__text Лаборатория элемент
            .item
                .item__title Сервис
                .item__text Дизайн, разработка, поддержка
            .item
                .item__title Технологии
                .item__text Html, Css, JavaScript
            .item
                .item__title Сайт
                .item__text cr.rosminzdrav.ru
        .section.section-1#section-1
            .section__wrapper
                .section__title Система
                    |
                    br
                    | для структурирования
                    br
                    | клинических рекомендаций.
            .section__main-img
                img(src="../img/main-img-1.png")
        .section.section-2
            .section__wrapper
                .title__wrapper
                    .section__title Основные
                        |
                        br
                        | функциональные
                        br
                        | возможности
                    .title__img
                        img(src="../img/section-2.png")
                .list__items
                    .item
                        .item__number 1
                        .item__text Хранение и обновление версий КР.
                    .item
                        .item__number 2
                        .item__text Ведение КР и структурирование лекарственных назначений в рамках конкретного раздела КР.
                    .item
                        .item__number 3
                        .item__text Наличие отдельного интерфейса, позволяющие его вести как не структурированные разделы КР,
                            |
                            br
                            | так и структурированные
                            br
                            | лекарственные назначения
                    .item
                        .item__number 4
                        .item__text Предоставление структурированного назначения Клиенту с учётом запрашиваемых параметров пациента (профиля пациента)
            .section__main-img
                .img__wrapper
                    img(src='../img/macbook-1.png')
                .img__wrapper
                    img(src='../img/macbook-2.png')
        .section.section-3
            .section__wrapper
                .section__title Цель применения
                .section__text Повышение качества медицинской помощи за счёт предоставления Клиенту (МИС) самой актуальной и структурированной информации о лечении пациентов в соответствии с клиническими рекомендациями, опубликованными на официальном сайте Рубрикатора МЗ РФ
                .img-bg
                    img(src="../img/microscope.png")
            .section__main-img
                img(src="../img/iPadProBig-1.png")
        .section.section-4
            .section__wrapper
                .section__title Разделы интерфейса
            .tabs__wrapper
                input(type="radio" name="1" id="tab-1" checked)
                input(type="radio" name="1" id="tab-2")
                input(type="radio" name="1" id="tab-3")
                input(type="radio" name="1" id="tab-4")
                input(type="radio" name="1" id="tab-5")
                .tabs__label
                    .title Инструкции
                    label(for="tab-1").tab__label Дозирование
                    label(for="tab-2").tab__label Максимальная дозировка
                    label(for="tab-3").tab__label Носитель ЛП
                    label(for="tab-4").tab__label Частота применения
                    label(for="tab-5").tab__label Длительность применения
                .tabs__content
                    .tab__content
                        img(src="../img/iPadPro-15.png")
                    .tab__content
                        img(src="../img/iPadPro-13.png")
                    .tab__content
                        img(src="../img/iPadPro-15.png")
                    .tab__content
                        img(src="../img/iPadPro-13.png")
                    .tab__content
                        img(src="../img/iPadPro-15.png")
                .tabs__bg
                    img(src="../img/stethoscope.png")

            .tabs__wrapper
                input(type="radio" name="2" id="tab-2-1" checked)
                input(type="radio" name="2" id="tab-2-2")
                input(type="radio" name="2" id="tab-2-3")
                input(type="radio" name="2" id="tab-2-4")
                input(type="radio" name="2" id="tab-2-5")
                input(type="radio" name="2" id="tab-2-6")
                input(type="radio" name="2" id="tab-2-7")
                .tabs__label
                    .title Справочники
                    label(for="tab-2-1").tab__label Разделы КР
                    label(for="tab-2-2").tab__label Предикторы
                    label(for="tab-2-3").tab__label Значения предикторов
                    label(for="tab-2-4").tab__label Состояния
                    label(for="tab-2-5").tab__label Схемы
                    label(for="tab-2-6").tab__label Evidence
                    label(for="tab-2-7").tab__label Therapy line

                .tabs__content
                    .tab__content
                        img(src="../img/iPadPro-15.png")
                    .tab__content
                        img(src="../img/iPadPro-13.png")
                    .tab__content
                        img(src="../img/iPadPro-15.png")
                    .tab__content
                        img(src="../img/iPadPro-13.png")
                    .tab__content
                        img(src="../img/iPadPro-15.png")
                    .tab__content
                        img(src="../img/iPadPro-13.png")
                    .tab__content
                        img(src="../img/iPadPro-15.png")

            .section__main-img
                img(src="../img/main-img-2.png")




    .footer__wrapper
            .footer__title Спасибо
                |
                br
                | за просмотр!
            .footer__image
                img(src="../img/footer.png")
            .logo
                img(src="../img/logoElement.svg")


